<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Configure Next.js app to run on Azure App Service -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
    </handlers>
    
    <!-- URL Rewrite rules for Next.js -->
    <rewrite>
      <rules>
        <!-- Handle Next.js static files -->
        <rule name="StaticContent" stopProcessing="true">
          <match url="^(_next/static/.*|favicon\.ico|robots\.txt)$" />
          <action type="None" />
        </rule>
        
        <!-- Route all other requests to Next.js -->
        <rule name="DynamicContent">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
          </conditions>
          <action type="Rewrite" url="server.js"/>
        </rule>
      </rules>
    </rewrite>
    
    <!-- Configure iisnode -->
    <iisnode 
      node_env="%NODE_ENV%"
      nodeProcessCommandLine="&quot;%programfiles%\nodejs\node.exe&quot;"
      interceptor="&quot;%programfiles%\iisnode\interceptor.js&quot;" />
  </system.webServer>
</configuration>
